<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- For Storage -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- For Android 13 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!--    android:networkSecurityConfig="@xml/network_security_config"-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CastToTVScreenMirroring"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <activity
            android:name=".activities.PolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ThanksActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ExitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.HowToActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PlayMediaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AudioAlbumActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AudioGalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ImageViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ScanningActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ImageGalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>