<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />


    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.apps.tachyon" />

        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>

        <package android:name="com.facebook.katana" />
    </queries>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".Splash.MyApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name=".Splash.PermissionActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".Splash.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash.ExitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash.BackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowAllConference"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name=".activity.ActivityAddNewContact"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityContactList"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityAllWallpapers"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityThemeChange"
            android:exported="false" />
        <activity android:name=".activity.MyRecordingsActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".activity.ActivityCustomThemeView"
            android:theme="@style/FullScreenTheme" />

        <service
            android:name=".service.notification.BoloNotificationListenerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

        <receiver
            android:name=".service.telephonic.IncomingCallReceiver"
            android:exported="true">
            <intent-filter android:priority="99999">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.telephonic.BootStarter"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Splash.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity" />

        <service
            android:name=".service.block.BlockCallService"
            android:exported="true"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.CallService"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />

            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.TranslucentActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.ActivityFullScreenView"
            android:excludeFromRecents="true"
            android:theme="@style/FullScreenTheme" />

        <receiver
            android:name=".utils.DownloadCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ActivityBlockCallList" />
        <activity android:name=".activity.ReqPermissionActivity" />
        <activity android:name=".activity.ActivityThemeContactList" />
        <activity
            android:name=".activity.AskPopupActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ParentCallAcitvity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/CallAcitvity"
            android:turnScreenOn="true" />
        <activity
            android:name=".activity.SimChooseActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent2" />
        <activity android:name=".activity.VideoCallSettings" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.CallLogDetailActivity"
            android:exported="true"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.ThemeDownloadService" />

        <activity
            android:name="com.karumi.dexter.DexterActivity"
            android:theme="@style/Dexter.Internal.Theme.Transparent" />
    </application>

</manifest>